<h1>Hello <%= @user.name %>,</h1>
<p>
  You have successfully signed up to E-Mart.com,
  your username is: <%= @user.name %>.<br>
</p>
<p>Welcome to e-Mart – Your Ultimate Shopping Destination for Quality Products and Amazing Deals!</p>
<p>At e-Mart, we're thrilled to have you join our community of savvy shoppers. Get ready to explore a vast array of products ranging from electronics, fashion, home essentials, and much more—all at incredible prices!</p>
<b>Why Choose e-Mart?</b>
<p>Huge Selection: Browse through thousands of products across various categories.</p>
<p>Quality Assurance: We ensure top-notch quality for every product you purchase.</p>
<p>Fast and Secure Delivery: Enjoy swift and secure delivery right to your doorstep.</p>
<p>24/7 Customer Support: Our dedicated support team is here to assist you whenever you need help.</p>
<p>Start Shopping Now [Link to Website] and discover endless possibilities at e-Mart!</p>
<p>Thank you for choosing e-Mart—we're committed to making your shopping experience delightful.</p>
<p>Happy Shopping!</p>
<p>Best Regards,</p>
<p>e-Mart Team </p>
