<div class="container-fluid w-75 shadow mt-4 rounded border p-4 bg-dark">
  <h2 class="text-center text-light ">Welcome To The E-Mart</h2>
  <div class="text-center text-light ">
    <% if user_signed_in? %>
      <%= current_user.name %>
      <% if current_user.has_role? :admin %>
        <h4> You are in admin panel</h4>
        <%= link_to "Products", products_path, class: "btn btn-warning" %>
      <% elsif current_user.has_role? :seller %>
        <h4> You are in seller panel</h4>
        <%= link_to "Products", user_products_path(current_user), class: "btn btn-warning" %>
      <% else %>
        <h4> You are in user panel</h4>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'products/index', products: @products%>
